.body{
    background-color: #020202;
    min-height: 100vh;
}

.headerimg{
    margin-top: 20px;
    width: 70%;
    height:30%;
    margin-bottom: 20px;
}


.imgdiv{
    text-align: center;
}

.deals{
    color: red;
    text-align: center;
    padding-bottom: 20px;
        font-family: "Sree Krushnadevaraya", serif;
        font-weight: 400;
        font-style: normal;
      
      
}
.deals_img{
    display: flex;
    flex-wrap: wrap;
    color: red;
    padding-bottom: 20px;
    cursor: pointer;
}
.dealsimg1:hover
{
    transform: scale(0.9);
}

.dealsimg1{
    position: relative;
    left: 40px;
    width: 30%;
    height: 15%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.dealsimg2{
    width: 20%;
    height: 15%;
}
.dealsimg3{
    width: 30%;
    height: 15%;
}
