.maindiv{
    background-color:black;
    min-height: 100vh;
}
.header{
    margin-top: 10px;
   text-align: center;
    color: red;
}
.header_text{
    margin-top: 10px;
    text-align: center;
     color: red;
}
.image_gallery{
    color: red; 
}
.render{
    color: red;
    display: flex;
}