
.about{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.MainA{
    background-color: #020202;
    min-height: 100vh;
    font-size: larger;
    font-family: "Sree Krushnadevaraya", serif;
    font-weight: 400;
    font-style: normal;
}
.branch{
    color: red;
    margin-top: 20px;
}
.branches{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}
.footer{

    margin-top: 160px;
    
}