*{
    margin:0px;
}
.Logo{
    color: red;
    cursor: pointer;
    padding-left: 5px;
}
.jusB{
    display: flex;
    justify-content: space-between;
}


.nav-bar{
    display: flex;
    
    justify-content: space-between;
    background-color: black;
    height: 5%;
    width: 100%;
}
.nav{
    padding-top: 5px;
    color: red;
    display: flex;
    
}
.new{
    padding-right: 15px;
    cursor: pointer;
}
.menu{
    padding-right: 15px;
    cursor: pointer;
}
.order{
    padding-right: 15px;
    cursor: pointer;
}
.aboutus{
    padding-right: 31px;
    cursor: pointer;
}
.new:hover{
    color: aliceblue;
}
.menu:hover{
    color: aliceblue;
}
.order:hover{
    color:aliceblue
}
.aboutus:hover{
    color: aliceblue;
}
@media only screen and (max-width:1000px) {

    .nav-bar{
        height: 100%;
        font-size: xx-small;
    }
    
}
